---
// Navbar.astro
import ButtonLogin from '../components/ButtonLogin.astro';
---


<nav class="bg-black p-2">
  <div class="container mx-auto flex justify-between items-center">
    <ul class="flex space-x-10 ml-8  text-emerald-600 p-4 font-pipboy font-bold text-xl">
      octo play
    </ul>
    <div class="flex mr-5">
      <ButtonLogin text='Iniciar Sesion'></ButtonLogin>
    </div>
  </div>
</nav>

  